/*  PAG CONTACTOS  */

.h1-contactos {
    font-size: 2.5em;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 5%;
    font-weight: 900 !important;
}

.article-contacto {
    margin-top: 5%;
    margin-left: 25%;
}

.p-contact {
    font-size: 1.6em;
    margin-top: 15px;
    margin-bottom: 10px;
}

.input-size {
    font-size: 1.2em;
}

.input-contactos {
    font-size: 1.2em !important;
    margin-top: 10px;
    margin-left: 35px;
}

.mapa {
    margin-top: 5%;
    margin-left: 25px;
    margin-bottom: 5%;
}

body {    /*editar body para normalizar pag c/ bootstrap*/
    margin: 0;
    font-family: $font-primary !important;
    color: $principal !important;
}