/*  PAG CONTACTOS  */

.flex-contacto {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.p-contact {
    color: $third;
    font-size: 1.6em;
    margin-top: 15px;
    margin-bottom: 10px;
}

.input-size {
    font-size: 1.2em;
}

.input-contactos {
    font-size: 1.2em !important;
    margin-top: 10px;
    margin-left: 35px;
}

.mapa {
    margin-top: 5%;
    margin-left: 25px;
    margin-bottom: 5%;
}

body {    /*editar body para normalizar pag c/ bootstrap*/
    margin: 0;
    font-family: $font-primary !important;
    color: $principal !important;
}

/*  MEDIA QUERIES  */

@media screen and (max-width: 992px) {

    .input-contactos {
       margin-bottom: 100px;
    }

    .mapa {
        margin-top: 10%;
        width: 400px;
        height: 500px;
    }
}

@media screen and (max-width: 768px) {

    .mapa {
        margin-left: 0%;
        margin-top: 0%;
        width: 700px;
    }
}

@media screen and (max-width: 576px) {

    .mapa {
        margin-left: 15px !important;
        width: 500px;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {

    .mapa {
        margin-left: 5px !important;
        width: 350px;
    }
}