
/*  PÃG HOME  */

main {
    background-color: $principal;
}

main section {
    padding: 0 2em;
}

.carousel {
    margin-bottom: 70px;
}

.w-100 {
    height: 941px;
}

.row-index {
    display: flex;
    column-gap: 15px;
}

.p-index {
   
    @include pindex ($font : 1.6em, $txtalign : justify, $margint : 40px, $marginb : 20px);
    padding: 50px 25px 10px 10px;
    color: $third
}

.btn-vermas {
    background-color: $third;
    border: 2px;
    width: 100px;
    height: 40px;
    font-size: 1.4em;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
 }

.centrado-img {
   width: 1000px;
}

.row-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 15px;
    margin-top: 50px !important;
    margin-bottom: 50px;
}

.card {
    background-color: $third !important;
    border: none !important;
}

.tarjetas {
    margin-top: 50px !important;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}

h5 {
    font-size: 1.6em !important;
}

.btn-servicios {
    background-color: $principal;
    color: $third;
    border: 2px;
    width: 50%;
    height: 40px;
    font-size: 1.4em;
    margin-top: 20px;
    margin-left: 25%;
    margin-bottom: 15px;
}

.a-servicios {
    color: $third !important;
}

.img-indxstudio {
    width: 100%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 992px){

    .row-cols-md-4>* {
        flex: 0 0 auto;
        width: 47% !important;
    }

    .w-100 {
        width: 100%;
        height: 100%;
    }
    
    .row-index {
        display: flex;
        column-gap: 15px;
    }
    
    .p-index {
       
        @include pindex ($font : 1.6em, $txtalign : justify, $margint : 20px, $marginb : 20px);
        padding: 5px 25px 10px 15px;
        color: $third
    }

    .row-card {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 50px;
    }

    .col {
        flex: none !important;
    }

    .tarjetas {
        padding-left: 0px;
        padding-right: 0px;
    }

    .btn-servicios {
        font-size: 1.2em;
    }
}


@media screen and (max-width: 768px) {

    .row-cols-md-4>* {
        flex: 0 0 auto;
        width: 45% !important;
    }
   
    .w-100 {
        width: 100%;
        height: 100%;
    }

    .row-index {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

   .p-index {
        @include pindex ($font : 1.6em, $txtalign : justify, $margint : 15px, $marginb : 20px);
        padding: 5px 25px 10px 15px;
    }

    .row-card {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 50px;
    }

    .col {
        flex: none !important;
    }

    .tarjetas {
        padding-left: 0px;
        padding-right: 0px;
    }

    .btn-servicios {
        font-size: 1.2em;
    }
}


@media screen and (max-width: 576px) {

    .row-cols-md-4>* {
        flex: 0 0 auto;
        width: 46% !important;
    }

    .w-100 {
        width: 100%;
        height: 100%;
    }

    .carousel {
        margin-bottom: 20px;
    }

    .row-index {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

   .p-index {
        @include pindex ($font : 1.5em, $txtalign : justify, $margint : 15px, $marginb : 20px);
        padding: 0px 25px 0px 15px;
    }

    .row-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 30px;
        justify-content: center;
    }

    .col {
        flex: none !important;
    }

    .tarjetas {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {

    .row-cols-md-4>* {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .w-100 {
        width: 100%;
        height: 100%;
    }

    .carousel {
        margin-bottom: 20px;
    }

    .row-index {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

   .p-index {
        @include pindex ($font : 1.5em, $txtalign : justify, $margint : 15px, $marginb : 20px);
        padding: 0px 25px 0px 15px;
    }

    .row-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 30px;
    }

    .col {
        flex: none !important;
    }

    .tarjetas {
        padding-left: 0px;
        padding-right: 0px;
    }

    .card-img-top {
        height: 100%;
    }
}