/* PAG. SERVICIOS */

.img-servicios {
    width: 100%;
    border-radius: 5px;
}

.tarjeta-servicios {
    padding-top: 30px;
    padding-left: 100px !important;
    padding-bottom: 30px;
}

h2 {
    font-size: 30px !important;
    color: $third;
}

.accordion-item {
    background-color: $principal !important;
    border: none !important;
}


.accordion-body {
    font-size: 12px !important;
    color: $third;
}

.accordion-button {
    font-size: 16px !important;
    background-color: $principal !important;
    color: $third !important;

    .accordion-button:not(.collapsed) {
        color: none;
        background-color: none;
        box-shadow: none;
    }
}

.row-service {
    display: flex;
    column-gap: 30px;
    align-items: center;
    margin-top: 50px !important;
    margin-bottom: 100px;
}

.animate__animated {
    -webkit-animation-duration: 5s !important;
    animation-duration: 5s !important;
}

.p-carousel {
    font-size: 14px;
    color: $third;
}

.p-int {
    color: $third !important;
    font-size: 16px;
    text-align: justify;
}



/*  MEDIA QUERIES  */

@media screen and (max-width: 992px) {

    .row-service {
        column-gap: 15px;
    }
}

@media screen and (max-width: 768px) {

    .row-service {
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 0px;
    }

    .img-servicios {
        margin-top: 20px !important;
    }

    .accordion {
        margin-top: 20px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {

    .p-int {
        font-size: 14px
    }
}