/* PAG. SERVICIOS */

.img-servicios {
    width: 100%;
    border-radius: 5px;
}

.tarjeta-servicios {
    padding-top: 30px;
    padding-left: 100px !important;
    padding-bottom: 30px;
}

h2 {
    font-size: 30px !important;
}

.accordion-button {
    font-size: 16px !important;
}

.accordion-body {
    font-size: 12px !important;
}

.row-service {
    display: flex;
    column-gap: 30px;
    align-items: center;
    margin-top: 50px !important;
    margin-bottom: 100px;
}

.animate__animated {
    -webkit-animation-duration: 5s !important;
    animation-duration: 5s !important;
}

.p-carousel {
    font-size: 14px;
}

.p-int {
    color: $third !important;
    font-size: 16px;
    text-align: justify;
}      

/*  MEDIA QUERIES  */

@media screen and (max-width: 992px) {

    .row-service {
        column-gap: 15px;
    }

@media screen and (max-width: 768px) {

    .row-service {
        flex-direction: column;
        column-gap: 15px;
        align-items: stretch;
    }

    .img-servicios {
        margin-top: 20px !important;
    }

    .accordion {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 576px) {

    .row-service {
        flex-direction: column;
        column-gap: 15px;
        align-items: stretch;
    }

    .img-servicios {
        margin-top: 20px !important;
    }

    .accordion {
        margin-top: 20px !important;
    }
    
}}