/*   MAIN SECTION  -  PAG. ESTUDIO  */


.section-estudio {
    display: flex;
    flex-direction: row;
}

.img-estudio {
    padding: 30px;
    width: 100%;
    margin-top: 15%;
    justify-content: center;
}

.p-estudio {
    padding: 30px;
    font-size: 1.6em;
    text-align: justify;
}