/*  PAG. ESTUDIO  */

.row-studio {
    display: flex;
    column-gap: 15px;
}

.img-estudio {
    margin-top: 90px;
    width: 100%;
    justify-content: center;
}

.p-estudio {
    color: $third;
    padding: 30px;
    font-size: 1.6em;
    text-align: justify;
}


/*  MEDIA QUERIES  */

@media screen and (max-width: 992px) {

    .img-estudio {
        margin-top: 55%;
    }
}

@media screen and (max-width: 768px) {

    .row-studio {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .img-estudio {
        margin-top: 0%;
    }
}

@media screen and (max-width: 576px) {

    .row-studio {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .img-estudio {
        margin-top: 0%;
    }
}

@media screen and (max-width: 375px) {

    .row-studio {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .img-estudio {
        margin-top: 0%;
    }
}

@media screen and (max-width: 320px) {

    .row-studio {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .img-estudio {
        margin-top: 0%;
    }
}