 /*  IMPORTS  */

 @import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Inter:wght@300;500;700&display=swap");
 

/*  VARIABLES */

:root {
    --principal: #1C1C1C;;
    --secondary: #fff;
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Bowly One SC", cursive;
}


 /* NORMALIZE */

 *,
 * ::after,
 * ::before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


 /*  GLOBALS  */

 html {
     font-size: 62.5%;
     font-family: var(--font-primary);
     color: var(--principal);
 }

body {
    display: grid;
    background-color: var(--secondary);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.studio {
    display: grid;
    background-color: var(--secondary);
    grid-template-rows: auto 1fr auto ;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--secondary) !important;
    display: inline-block;
}

.btn-vermas {
    background-color: var(--principal);
    border: 2px;
    width: 100px;
    height: 40px;
    font-size: 1.4em;
    margin-top: 5px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 5%;
}



/*  HELPERS */

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}


 /*  HEADER   y NAVBAR  */

 header {
     background-color: var(--principal);
     height: 100px;
 }

 header .navbar {
     min-height: 12vh;
     justify-content: space-between;
     align-items: center;
 }

 header .navbar .navbarBrand {
     flex-basis: 30%;
     font-size: 3.5em;
     display: flex;
     align-items: center;
     text-decoration: none;
 }


 .menu {
     flex-basis: 40%;
     justify-content: space-between;
 }*

 .menu .menu__item {
    border: 2px solid;
    transition: all .3s ease-in-out;
    
 }

 .menu .menu__item:hover {
     border-color: aliceblue;
 }

 .menu .menu__item .menu__link {
     font-size: 1.6em;
     padding: 2rem ;
     position: relative;
     text-decoration: none;
 }


 /*  MAIN  SECTION  */

 main section {
     padding: 0 2em;
 }


.p-index {
    font-size: 1.6em !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.centrado-img {
    width: 1000px;
}


/*  FOOTER  - global -  */

footer {
    background-color: var(--principal);
    color: var(--secondary);
    height: none;
    font-size: 1.5em;
}

.divPadre__footer {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
}

.logo__socials {
    font-size: 2em;
}

.footer__logo {
    font-size: 2em;
    margin-top: 25px;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    margin-left: 5%;
}

.footer__socials--list {
    padding: 1rem;
}

.footer__list {
   margin-top: 20px;
}

.footer__list h3 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.footer__logo {
    font-size: 2em;
    position: relative;
}

.footer_socials--list {
    display: inline-block;
    position: absolute;
    flex-direction: row;
}

.footer__list {
    display: flex;
    flex-direction: row-reverse;
}

.footer__list--item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 500px;    
}

.divDerechos {
    display: flex;
    justify-content: center;
}


--------------------------------------------------


/*   MAIN SECTION  -  PAG. ESTUDIO  */


.section-estudio {
    display: flex;
    flex-direction: row;
}

.h1-estudio {
    display: flex;
    margin-left: 5%;
}

.divPicture__estudio {
    display: flex;
    width: 500px;
    margin-top: 60px;
    flex-basis: 60%;  
}

.artEstudio {
    display: flex;
    padding-left: 50%;
    font-size: 1.5em;
    margin-top: -360px;
    margin-bottom: 20px;
    text-align: justify;
}



 /* -----------------------------------------*/



/*   MEDIA QUERIES   */

@media screen and (max-width: 768px) {

/*  index  */

.container {
    max-width: 768px;
    }

    header {
        height: 150px !important;
        width: 100% !important;
    }
   
    header .navbar {
        /*min-height: 12vh;*/
        margin-top: 20px !important;
        flex-direction: column !important;
        justify-content: space-between !important;
    }
   
    header .navbar .navbarBrand {
        justify-content: center !important;
        font-size: 3.5em !important;
        display: flex !important;
        text-decoration: none !important;
  
    }

    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-width: 100vh;
    }

    .centrado-img {
        max-width: 768px;
    }

    .p-index {
        font-size: 1.6em !important;
        text-align: justify !important;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    footer {
        height: 200px;
        font-size: 1.5em !important;
        min-height: 100vh !important;
    }

    .divPadre__footer {
        flex-direction: column !important;
        justify-content: center !important;
    }

    .footer__list--item {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: auto;
    }

    .footer__socials {
        display: flex !important;
        justify-content: center !important;
        font-size: 0.8em !important;
        /*margin-right: 5% !important;*/
    }

    .footer__logo {
        display: flex;
        font-size: 2em;
        justify-content: center;
    }


    /* estudio */

    .studio {
        display: grid;
        grid-template-rows: auto 1fr auto ;
        min-height: 100vh;
    }

    .divPicture__estudio {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        width: 735px;
    }

    .divEstudio__p{
        display: flex;

    }

    .artEstudio {
        display: flex;
        justify-content: center;
        padding-left: 0%;
        font-size: 1.5em;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: justify;
    }
}


  /* -------------------------------------------*/


/*  PAG - PROYECTOS  */

    .h1-proyectos {
        font-size: 2.5em;
        margin-top: 30px;
        margin-bottom: 15px;
        margin-left: 5%;
        font-weight: 900 !important;
    }

  
  /*   - BOOTSTRAP -   (proyectos)   */

  
  body {    /*editar body para normalizar pag c/ bootstrap*/
    margin: 0;
    font-family: var(--font-primary) !important;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--principal) !important;
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
  
#galeria-obras {
    margin-bottom: 50px;
}

#galeria-obras img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

#galeria-obras .col-lg-4 {
    padding: 30px;
}

/* MAIN -proyectos- */

.img-galeria{
    transition: .3s ease-in-out;
    opacity: 0.5;
}

.img-galeria:hover {
    -webkit-transform-: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
}

.container__text--div {
    text-align: center;
    font-size: 1.6em;
    margin-top: 15px;
    color: var(--principal) !important;
}

button {
    border: none;
}
/*seccion footer*/


/* MEDIA QUERIES  -proyectos- */

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%; 
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}