@charset "UTF-8";
/*  VARIABLES  */
/*  VARIABLES */
/*  GLOBALES  */
/* mixins */
/*header*/
/*footer*/
/*  IMPORTS  */
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Inter:wght@300;500;700&display=swap");
/* NORMALIZE */
*,
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*  GLOBALS  */
html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  color: #212529; }

body {
  display: grid;
  background-color: #fff;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

.studio {
  display: grid;
  background-color: #fff;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

ul {
  list-style-type: none; }

a {
  text-decoration: none !important;
  color: #212529 !important;
  display: inline-block; }

h1 {
  color: #f8f9fa;
  font-size: 2.5em !important;
  margin-top: 30px !important;
  margin-bottom: 15px !important;
  margin-left: 5% !important;
  font-weight: 900 !important; }

/*  HELPERS */
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

/*  PARTIALS  */
/*  HEADER   y NAVBAR  */
.header-color {
  background-color: #212529;
  height: 100px; }

header .position-abs {
  position: absolute;
  z-index: 1;
  border-bottom: 1px solid #f8f9fa;
  margin-left: 290px; }

header .navbar {
  min-height: 12vh;
  justify-content: space-between;
  align-items: center; }

header .navbarBrand {
  color: #f8f9fa !important;
  flex-basis: 30%;
  font-size: 3.5em;
  display: flex;
  align-items: center;
  text-decoration: none; }

header .menu {
  flex-basis: 40%;
  justify-content: space-between;
  /*&__item {
            border-color: transparent;
            /*border: 2px solid;*/
  /*  transition: all .3s ease-in-out;
            &:hover {
                border: 2px solid;
                border-color: aliceblue;
            }
         }*/ }
  header .menu .menu__link {
    color: #f8f9fa !important;
    font-size: 1.6em;
    padding: 2rem;
    position: relative;
    text-decoration: none; }

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
  .container {
    max-width: 992px; }
  header {
    height: 150px !important;
    width: 100% !important;
    background-color: #212529 !important; }
    header .position-abs {
      margin-left: 5px !important;
      border-bottom: none; }
    header .menu__link {
      color: #f8f9fa !important; }
    header .navbar {
      margin-top: 10px !important;
      flex-direction: column !important;
      justify-content: space-between !important; }
      header .navbar .navbarBrand {
        display: flex;
        justify-content: center;
        font-size: 3.5em;
        text-decoration: none; } }

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px; }
  header {
    height: 150px !important;
    width: 100% !important; }
    header .navbar {
      margin-top: 20px !important;
      flex-direction: column !important;
      justify-content: space-between !important; }
      header .navbar .navbarBrand {
        display: flex;
        justify-content: center;
        font-size: 3.5em;
        text-decoration: none; } }

@media screen and (max-width: 576px) {
  .container {
    max-width: 576px; }
  header {
    height: 150px !important;
    width: 100% !important; }
    header .navbar {
      margin-top: 20px !important;
      flex-direction: column !important;
      justify-content: space-between !important; }
      header .navbar .navbarBrand {
        display: flex;
        justify-content: center;
        font-size: 3.5em;
        text-decoration: none; } }

@media screen and (max-width: 375px) {
  /* header {
        height: 150px !important;
        width: 100% !important;
  
        .navbar {
            margin-top: 20px !important;
            flex-direction: column !important;
            justify-content: space-between !important;
  
            .navbarBrand {
                @include navlogo ($justify : center, $font : 3.5em, $t-decoration : none);
            } 
        }
    }
}*/
  header .navbar {
    min-height: 12vh;
    justify-content: space-between;
    align-items: center; }
  header .navbarBrand {
    color: #f8f9fa !important;
    flex-basis: 30%;
    font-size: 3.5em;
    display: flex;
    align-items: center;
    text-decoration: none; }
  header .menu {
    flex-basis: 40%;
    justify-content: space-between; } }

/*  FOOTER  - global -  */
footer {
  background-color: #f8f9fa;
  color: #212529;
  height: none;
  font-size: 1.5em; }
  footer .divPadre__footer {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between; }
    footer .divPadre__footer .logo__socials {
      font-size: 2em; }
    footer .divPadre__footer .footer__logo {
      font-size: 2em;
      margin-top: 25px;
      position: relative; }
    footer .divPadre__footer .footer__socials {
      display: flex;
      flex-direction: row;
      font-size: 0.8em;
      margin-left: 5%; }
    footer .divPadre__footer .footer_socials--list {
      display: inline-block;
      position: absolute;
      flex-direction: row;
      padding: 1rem; }
    footer .divPadre__footer .footer__list {
      margin-top: 20px;
      display: flex;
      flex-direction: row-reverse; }
      footer .divPadre__footer .footer__list .footer__list h3 {
        font-size: 1.6em;
        margin-bottom: 10px; }
      footer .divPadre__footer .footer__list .footer__list--item {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 500px; }
  footer .divDerechos {
    display: flex;
    justify-content: center; }

/*  MEDIA QUERIES  */
@media screen and (max-width: 992px) {
  footer {
    font-size: 1.5em !important;
    min-height: 0vh; }
    footer .divPadre__footer {
      flex-direction: column !important;
      justify-content: center !important; }
    footer .footer__list--item {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-left: auto; }
    footer .footer__socials {
      display: flex;
      justify-content: center;
      font-size: 0.8em;
      margin-left: 0px !important; }
    footer .footer__logo {
      display: flex;
      font-size: 2em;
      justify-content: center; } }

@media screen and (max-width: 768px) {
  footer {
    font-size: 1.5em !important;
    min-height: 0vh; }
    footer .divPadre__footer {
      flex-direction: column !important;
      justify-content: center !important; }
    footer .footer__list--item {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-left: auto; }
    footer .footer__socials {
      display: flex;
      justify-content: center;
      font-size: 0.8em;
      margin-left: 0px !important; }
    footer .footer__logo {
      display: flex;
      font-size: 2em;
      justify-content: center; } }

@media screen and (max-width: 576px) {
  footer {
    font-size: 1.5em !important;
    min-height: 0vh; }
    footer .divPadre__footer {
      flex-direction: column !important;
      justify-content: center !important; }
    footer .footer__list--item {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-left: auto; }
    footer .footer__socials {
      display: flex;
      justify-content: center;
      font-size: 0.8em;
      margin-left: 0px !important; }
    footer .footer__logo {
      display: flex;
      font-size: 2em;
      justify-content: center; } }

@media screen and (max-width: 375px) {
  footer {
    font-size: 1.5em !important;
    min-height: 0vh; }
    footer .divPadre__footer {
      flex-direction: column !important;
      justify-content: center !important; }
    footer .footer__list--item {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-left: auto; }
    footer .footer__socials {
      display: flex;
      justify-content: center;
      font-size: 0.8em;
      margin-left: 0px !important; }
    footer .footer__logo {
      display: flex;
      font-size: 2em;
      justify-content: center; } }

/*  VIEWS  */
/*  PAG CONTACTOS  */
.flex-contacto {
  display: flex;
  justify-content: center;
  margin-top: 5%; }

.p-contact {
  color: #f8f9fa;
  font-size: 1.6em;
  margin-top: 15px;
  margin-bottom: 10px; }

.input-size {
  font-size: 1.2em; }

.input-contactos {
  font-size: 1.2em !important;
  margin-top: 10px;
  margin-left: 35px; }

.mapa {
  margin-top: 5%;
  margin-left: 25px;
  margin-bottom: 5%; }

body {
  /*editar body para normalizar pag c/ bootstrap*/
  margin: 0;
  font-family: "Inter", sans-serif !important;
  color: #212529 !important; }

/*  MEDIA QUERIES  */
@media screen and (max-width: 992px) {
  .input-contactos {
    margin-bottom: 100px; }
  .mapa {
    margin-top: 10%;
    width: 400px;
    height: 500px; } }

@media screen and (max-width: 768px) {
  .mapa {
    margin-left: 0%;
    margin-top: 0%;
    width: 700px; } }

@media screen and (max-width: 576px) {
  .mapa {
    margin-left: 15px !important;
    width: 500px; } }

/*  PÁG HOME  */
main {
  background-color: #212529; }

main section {
  padding: 0 2em; }

.carousel {
  margin-bottom: 70px; }

.w-100 {
  height: 941px; }

.row-index {
  display: flex;
  column-gap: 15px; }

.p-index {
  font-size: 1.6em;
  text-align: justify;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 50px 25px 10px 10px;
  color: #f8f9fa; }

.btn-vermas {
  background-color: #f8f9fa;
  border: 2px;
  width: 100px;
  height: 40px;
  font-size: 1.4em;
  margin-top: 5px;
  margin-bottom: 20px; }

.centrado-img {
  width: 1000px; }

.row-card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 15px;
  margin-top: 50px !important;
  margin-bottom: 50px; }

.card {
  background-color: #f8f9fa !important;
  border: none !important; }

.tarjetas {
  margin-top: 50px !important;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px; }

h5 {
  font-size: 1.6em !important; }

.btn-servicios {
  background-color: #212529;
  color: #f8f9fa;
  border: 2px;
  width: 50%;
  height: 40px;
  font-size: 1.4em;
  margin-top: 20px;
  margin-left: 25%;
  margin-bottom: 15px; }

.a-servicios {
  color: #f8f9fa !important; }

.img-indxstudio {
  width: 100%; }

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
  .w-100 {
    width: 100%;
    height: 100%; }
  .row-index {
    display: flex;
    column-gap: 15px; }
  .p-index {
    font-size: 1.6em;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 25px 10px 15px;
    color: #f8f9fa; }
  .row-card {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px; }
  .col {
    flex: none !important; }
  .tarjetas {
    padding-left: 25px;
    padding-right: 25px; } }

@media screen and (max-width: 768px) {
  .w-100 {
    width: 100%;
    height: 100%; }
  .row-index {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse; }
  .p-index {
    font-size: 1.6em;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 5px 25px 10px 15px; }
  .row-card {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px; }
  .col {
    flex: none !important; }
  .tarjetas {
    padding-left: 25px;
    padding-right: 25px; } }

@media screen and (max-width: 576px) {
  .w-100 {
    width: 100%;
    height: 100%; }
  .carousel {
    margin-bottom: 20px; }
  .row-index {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse; }
  .p-index {
    font-size: 1.5em;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 0px 25px 0px 15px; }
  .row-card {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px; }
  .col {
    flex: none !important; }
  .tarjetas {
    padding-left: 25px;
    padding-right: 25px; } }

@media screen and (min-width: 320px) and (max-width: 375px) {
  .w-100 {
    width: 100%;
    height: 100%; }
  .carousel {
    margin-bottom: 20px; }
  .row-index {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse; }
  .p-index {
    font-size: 1.5em;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 0px 25px 0px 15px; }
  .row-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px; }
  .col {
    flex: none !important; }
  .tarjetas {
    padding-left: 25px;
    padding-right: 25px; }
  .card-img-top {
    height: 100%; } }

/* PAG. SERVICIOS */
.img-servicios {
  width: 100%;
  border-radius: 5px; }

.tarjeta-servicios {
  padding-top: 30px;
  padding-left: 100px !important;
  padding-bottom: 30px; }

h2 {
  font-size: 30px !important; }

.accordion-button {
  font-size: 16px !important; }

.accordion-body {
  font-size: 12px !important; }

.row-service {
  display: flex;
  column-gap: 30px;
  align-items: center;
  margin-top: 50px !important;
  margin-bottom: 100px; }

.animate__animated {
  -webkit-animation-duration: 5s !important;
  animation-duration: 5s !important; }

.p-carousel {
  font-size: 14px; }

.p-int {
  color: #f8f9fa !important;
  font-size: 16px;
  text-align: justify; }

/*  MEDIA QUERIES  */
@media screen and (max-width: 992px) {
  .row-service {
    column-gap: 15px; } }

@media screen and (max-width: 992px) and (max-width: 768px) {
  .row-service {
    flex-direction: column;
    column-gap: 15px;
    align-items: stretch; }
  .img-servicios {
    margin-top: 20px !important; }
  .accordion {
    margin-top: 20px !important; } }

@media screen and (max-width: 992px) and (max-width: 576px) {
  .row-service {
    flex-direction: column;
    column-gap: 15px;
    align-items: stretch; }
  .img-servicios {
    margin-top: 20px !important; }
  .accordion {
    margin-top: 20px !important; } }

/*  PAG. ESTUDIO  */
.row-studio {
  display: flex;
  column-gap: 15px; }

.img-estudio {
  margin-top: 90px;
  width: 100%;
  justify-content: center; }

.p-estudio {
  color: #f8f9fa;
  padding: 30px;
  font-size: 1.6em;
  text-align: justify; }

/*  MEDIA QUERIES  */
@media screen and (max-width: 992px) {
  .img-estudio {
    margin-top: 55%; } }

@media screen and (max-width: 768px) {
  .row-studio {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 25px; }
  .img-estudio {
    margin-top: 0%; } }

@media screen and (max-width: 576px) {
  .row-studio {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 25px; }
  .img-estudio {
    margin-top: 0%; } }

@media screen and (max-width: 375px) {
  .row-studio {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 25px; }
  .img-estudio {
    margin-top: 0%; } }

@media screen and (max-width: 320px) {
  .row-studio {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 25px; }
  .img-estudio {
    margin-top: 0%; } }

/*  PAG - PROYECTOS  */
.row-obras {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  padding-top: 30px;
  align-items: stretch; }

.img-galeria {
  transition: .3s ease-in-out;
  opacity: 0.6; }
  .img-galeria:hover {
    -webkit-transform-: scale(1.1);
    transform: scale(1.1);
    opacity: 1; }

.container__text--div {
  font-size: 1.6em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #f8f9fa !important; }

/*   - BOOTSTRAP -   (proyectos)   */
body {
  /*editar body para normalizar pag c/ bootstrap*/
  margin: 0;
  font-family: var(--font-primary) !important;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--principal) !important;
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

#galeria-obras {
  margin-bottom: 50px; }

#galeria-obras img {
  width: 100%;
  height: 300px;
  border-radius: 5px; }

#galeria-obras .col-lg-4 {
  padding: 30px; }

/*  MEDIA QUERIES  */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto; }

@media screen and (max-width: 992px) {
  .row-obras {
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-end;
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 30px; }
  .img-galeria {
    width: 100%; }
  #galeria-obras img {
    height: auto; }
  #galeria-obras .col-lg-4 {
    padding: 0px; } }

@media screen and (max-width: 768px) {
  .row-obras {
    row-gap: 40px;
    padding: 40px 30px 30px 30px; }
  .container__text--div {
    font-size: 1.6em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px; } }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto; }
