/* mixins */


/*header*/

@mixin navlogo ($justify : center, $font : 3.5em, $t-decoration : none) {

    display: flex;
    justify-content: $justify;
    font-size: $font;
    text-decoration: $t-decoration;
};

@mixin pindex ($font : 1.6em, $txtalign : justify, $margint : 15px, $marginb : 20px) {

    font-size: $font;
    text-align: $txtalign;
    margin-top: $margint;
    margin-bottom: $marginb;
}

/*footer*/

@mixin listitem ($direction : column, $margint : 10px, $alitems : flex-end) {

    display: flex;
    flex-direction: $direction;
    margin-top: 10px;
    align-items: $alitems;
}

@mixin fsocials ($fdirect : row, $justify : center, $font : 0.9em , $colgap : 20px) {

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.9em;
    column-gap: $colgap;
}