/*  IMPORTS  */

@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Inter:wght@300;500;700&display=swap");

 /* NORMALIZE */

 *,
 * ::after,
 * ::before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /*  GLOBALS  */

 html {
    font-size: 62.5%;
    font-family: $font-primary;
    color: $principal;
}

body {
   display: grid;
   background-color: $secondary;
   grid-template-rows: auto 1fr auto;
   min-height: 100vh;
}

.studio {
   display: grid;
   background-color: $secondary;
   grid-template-rows: auto 1fr auto ;
   min-height: 100vh;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none !important;
   color: $principal !important;
   display: inline-block;
}

.btn-vermas {
   background-color: $third;
   border: 2px;
   width: 100px;
   height: 40px;
   font-size: 1.4em;
   margin-top: 5px;
   margin-bottom: 20px;
}

h1 {
   color: $third;
   font-size: 2.5em !important;
   margin-top: 30px !important;
   margin-bottom: 15px !important;
   margin-left: 5% !important;
   font-weight: 900 !important;
}

   


/* MEDIA QUERIES */

@media screen and (max-width: 992px) {

   /*  HEADER  */

   .container {
      max-width: 992px;
   }
  
   header {
       height: 150px !important;
       width: 100% !important;

       .navbar {
         margin-top: 20px !important;
         flex-direction: column !important;
         justify-content: space-between !important;

         .navbarBrand {
            @include navlogo ($justify : center, $font : 3.5em, $t-decoration : none);
        }
     }
   }
     

   /* FOOTER */

   footer {
      /*height: 200px;*/
      font-size: 1.5em !important;
      min-height: 0vh;
   }
   
   .divPadre__footer {
      flex-direction: column !important;
      justify-content: center !important;
   }
   
   .footer__list--item {

      @include listitem ($direction : column, $margint : 10px, $marginl : auto);
   }
   
   .footer__socials {

      @include fsocials ($justify : center, $font : 0.8em , $marginl : 0);
   }
   
   .footer__logo {
      display: flex;
      font-size: 2em;
      justify-content: center;
   }
}


@media screen and (max-width: 768px) {
      
   /*  HEADER  */

   .container {
      max-width: 768px;
   }
      
   header {
      height: 150px !important;
      width: 100% !important;

      .navbar {
         margin-top: 20px !important;
         flex-direction: column !important;
         justify-content: space-between !important;

         .navbarBrand {
            @include navlogo ($justify : center, $font : 3.5em, $t-decoration : none);
         }
      }
   }
         

   /* FOOTER */

   footer {
      /*height: 200px;*/
      font-size: 1.5em !important;
      min-height: 0vh;
   }
       
   .divPadre__footer {
      flex-direction: column !important;
      justify-content: center !important;
   }
       
   .footer__list--item {
      
      @include listitem ($direction : column, $margint : 10px, $marginl : auto);
   }
       
   .footer__socials {
      
      @include fsocials ($justify : center, $font : 0.8em , $marginl : 0);
   }
       
   .footer__logo {
      display: flex;
      font-size: 2em;
      justify-content: center;
   }
}


@media screen and (max-width: 576px) {

    /*  HEADER  */

    .container {
      max-width: 576px;
   }
      
   header {
      height: 150px !important;
      width: 100% !important;

      .navbar {
         margin-top: 20px !important;
         flex-direction: column !important;
         justify-content: space-between !important;

         .navbarBrand {
            @include navlogo ($justify : center, $font : 3.5em, $t-decoration : none);
         }
      }
   }
         

   /* FOOTER */

   footer {
      /*height: 200px;*/
      font-size: 1.5em !important;
      min-height: 0vh;
   }
       
   .divPadre__footer {
      flex-direction: column !important;
      justify-content: center !important;
   }
       
   .footer__list--item {
 
      @include listitem ($direction : column, $margint : 10px, $marginl : auto);
   }
       
   .footer__socials {

      @include fsocials ($justify : center, $font : 0.8em , $marginl : 0);
   }
       
   .footer__logo {
      display: flex;
      font-size: 2em;
      justify-content: center;
   }
}