/*  VARIABLES */

$principal: #212529;
$secondary: #fff;
$third: #f8f9fa;
$font-primary: "Inter", sans-serif;
$font-secondary: "Bowly One SC", cursive;

//$sizecont(

//    $large: 992px,
//    $medium: 768px,
//    $small: 576px
//)

