/*  FOOTER  - global -  */

footer {
    background-color: $third;
    color: $principal;
    height: none;
    font-size: 1.5em;

    .divPadre__footer {
        display: flex;
        flex-direction: row;}
        flex-wrap: nowrap;
        justify-content: space-between;

        .logo__socials {
            font-size: 2em;
        }

        .footer__logo {
            font-size: 2em;
            margin-top: 25px;
            position: relative;
        }

        .footer__socials {
            @include fsocials ($fdirect : row, $justify : center, $font : 0.9em , $colgap : 20px);

            /*.footer_socials--list {
                display: inline-block;
                position: absolute;
                flex-direction: row;
                padding: 1rem;
            }*/
        }

        .footer__list {
            margin-top: 35px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .h3-footer {
                font-size: 1.6em;
                margin-bottom: 10px;
            }

            .footer__list--item {
                @include listitem ($direction : column, $margint : 10px, $alitems : flex-end);
                /*display: flex;*/
                /*flex-direction: column;
                align-items: flex-end; 
                margin-top: 10px;*/
                  
            }
        }

        .divDerechos {
            display: flex;
            justify-content: center;
        }
}

/*  MEDIA QUERIES  */

@media screen and (max-width: 768px) {

    footer {
        min-height: 0vh;
     
        .divPadre__footer {
            flex-direction: column;
            justify-content: center;
        }

        .footer__list {
            margin-top: 10px;
            justify-content: center;
            align-items: center;
        }

        .footer__list--item {
            @include listitem ($direction : column, $margint : 10px, $alitems : center !important);
        }

        .footer__socials {
            @include fsocials ($fdirect : row, $justify : center, $font : 0.9em , $colgap : 20px);
        }
     
        .footer__logo {
            display: flex;
            font-size: 2em;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    
    footer {

        .logo__socials {
            font-size: 1.5em;
        }

        .h3-footer {
            font-size: 1em;
        }

        .li-footer {
            font-size: 12px;
        }

        .p-derechos {
            font-size: 10px;
        }
    }
}