/*  HEADER   y NAVBAR  */

.header-color {
    background-color: $principal;
    height: 110px;
    border-bottom: 1px solid $third;
}

header {

    .position-abs {
        position: absolute;
        z-index: 1;
        border-bottom: 1px solid $third;
        margin-left: 290px;
    }

    .navbar {
        min-height: 12vh;
        justify-content: space-between;
        align-items: center;
    }

    .navbarBrand {
        color: $third !important;
        flex-basis: 30%;
        font-size: 3.5em;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .menu {
        flex-basis: 40%;
        justify-content: space-between;

        /*&__item {
            border-color: transparent;
            /*border: 2px solid;*/
          /*  transition: all .3s ease-in-out;
            &:hover {
                border: 2px solid;
                border-color: aliceblue;
            }
         }*/

        .menu__link {
            color: $third !important;
            font-size: 1.6em;
            padding: 2rem ;
            position: relative;
            text-decoration: none;
        }
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {

    .header-color {
        border-bottom: 1px solid $third;
    }

    header {

        .position-abs {
            margin-left: 70px !important;
        }
    } 
}

@media screen and (max-width: 992px) {
   
    .header-color {
        /*border-bottom: 1px solid $third;*/
        height: 110px;
    }

    header {
        width: 100% !important;
        background-color: $principal !important;

        .container {
            max-width: 990px;
        }

        .position-abs {
            margin-left: 0px !important;
        }

        .menu__link {
            color: $third !important;
        }

        .navbar {
          margin-top: 10px !important;
          justify-content: space-between !important;
 
          .navbarBrand {
             @include navlogo ($justify : center, $font : 3.5em, $t-decoration : none);
            }
        }
    }
}
 
@media screen and (max-width: 768px) {
       
    header {
       height: 150px !important;
       border-bottom: 1px solid $third;
 
       .container {
            max-width: 768px;
        }

        .position-abs {
            border-bottom: none !important;
        }

        .navbar {
            margin-top: 15px !important;
            flex-direction: column !important;
            justify-content: space-between !important;
 
            .navbarBrand {
                @include navlogo ($justify : center, $font : 3.5em, $t-decoration : none);
            }
        }
    }
}

@media screen and (max-width: 576px) {

    header {
       height: 150px !important;
       width: 100% !important;

        .container {
            max-width: 576px;
        }
 
       .navbar .navbarBrand {
            @include navlogo ($justify : center, $font : 3.5em, $t-decoration : none);
        }
    }

    .carousel-indicators [data-bs-target] {
        width: 20px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {

    header {

        .container {
            max-width: 370px;
        }

        .navbar {
            margin-top: 0px !important;
            align-items: center;
            padding-top: 0rem;

            .navbarBrand {
                color: $third !important;
                flex-basis: 30%;
            }

            ul {
                padding-left: 0rem !important;
            }

            .menu {
                flex-basis: 40%;
                justify-content: center;
                column-gap: 20px;

                &__link {
                    font-size: 1.4em !important;
                    padding: 1.4rem !important;
                }
            }

            .flex-row {
                flex-wrap: wrap !important;
            }
        }
    }
}