/*  HEADER   y NAVBAR  */

.header-color {
    background-color: $principal;
    height: 100px;
}

header {

    .position-abs {
        position: absolute;
        z-index: 1;
        border-bottom: 1px solid $third;
        margin-left: 290px;
    }

    .navbar {
        min-height: 12vh;
        justify-content: space-between;
        align-items: center;
    }

    .navbarBrand {
        color: $third !important;
        flex-basis: 30%;
        font-size: 3.5em;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .menu {
        flex-basis: 40%;
        justify-content: space-between;

        /*&__item {
            border-color: transparent;
            /*border: 2px solid;*/
          /*  transition: all .3s ease-in-out;
            &:hover {
                border: 2px solid;
                border-color: aliceblue;
            }
         }*/

        .menu__link {
            color: $third !important;
            font-size: 1.6em;
            padding: 2rem ;
            position: relative;
            text-decoration: none;
        }
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
 
    .container {
       max-width: 992px;
    }
   
    header {
        height: 150px !important;
        width: 100% !important;
        background-color: $principal !important;

        .position-abs {
            margin-left: 5px !important;
            border-bottom: none;
        }

        .menu__link {
            color: $third !important;
        }

        .navbar {
          margin-top: 10px !important;
          flex-direction: column !important;
          justify-content: space-between !important;
 
          .navbarBrand {
             @include navlogo ($justify : center, $font : 3.5em, $t-decoration : none);
            }
        }
    }
}
 
 
@media screen and (max-width: 768px) {
 
    .container {
       max-width: 768px;
    }
       
    header {
       height: 150px !important;
       width: 100% !important;
 
       .navbar {
          margin-top: 20px !important;
          flex-direction: column !important;
          justify-content: space-between !important;
 
          .navbarBrand {
             @include navlogo ($justify : center, $font : 3.5em, $t-decoration : none);
            }
        }
    }
}

@media screen and (max-width: 576px) {

     .container {
       max-width: 576px;
    }
       
    header {
       height: 150px !important;
       width: 100% !important;
 
       .navbar {
            margin-top: 20px !important;
            flex-direction: column !important;
            justify-content: space-between !important;
 
            .navbarBrand {
                @include navlogo ($justify : center, $font : 3.5em, $t-decoration : none);
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {

    ul {
        padding-left: 0rem !important;
    }

    .container {
        padding: 0px 7.5px !important;
        margin: 0px 0px 0px 0px !important;
     }

     .position-abs {
        margin-left: 0px !important;
    }

    header {
        height: 200px !important;

        .navbar {
            min-height: 12vh;
            justify-content: space-between;
            align-items: center;
        }

        .navbarBrand {
            color: $third !important;
            flex-basis: 30%;
            font-size: 3.5em;
            display: flex;
            align-items: center;
            text-decoration: none;
        }

        .menu {
            flex-basis: 40%;
            justify-content: space-between;
        }

        .flex-row {
        flex-wrap: wrap !important;
        }

        .menu__link {
            font-size: 1.4em !important;
            padding: 1.4rem !important;
        }
    }
}